{% extends 'base.html' %}

{% block title %}
{{db.name}}
{% endblock title %}

{% block content %}

<h1>بيئة العمل: 
    <a href="">{{db.workspace.name}}</a>
</h1>
<h2>قاعدة بيانات: {{db.name}}</h2>

<div class="">
    <h3>الحقول</h3>
    <ul>

        {% for field in db.fields.all %}
        <li>
            <span>
                {{field}}
            </span>
            <a href="{% url 'database:del-db-field' field.id %}">حذف الحقل</a>
        </li>
        {% endfor %}
    </ul>
    
</div>


<form action="{% url 'database:create-db-field' db.id %}" method="post">
    {% csrf_token %}
    {{add_field_form}}

    <button type="submit">إضافة حقل</button>
</form>

{% endblock content %}