{% extends 'base.html' %}

{% block title %}
    {{page.name}}
{% endblock title %}
    


{% block content %}


<style>

    textarea {
        direction: ltr;
    }

    pre {
        display: block;
        padding: 10px;
        background-color: #f4f4f4;
        border-radius: 5px;
        font-family: Consolas, monospace;
        font-size: 14px;
        line-height: 1.5;
        white-space: pre-wrap; /* Ensures line breaks are respected */
        overflow-x: auto; /* Adds horizontal scrollbar if needed */
    }

    .code__section .code__heading {
        display: flex;
        justify-content: space-between;
        background: #212121;
        color: white;
    }


    .copy-btn {
        border-radius: 5px;
        border: 1px solid #fff;
        height: fit-content;
        cursor: pointer;
        padding: .25rem .5rem;
        align-self: center;
    }

</style>

<h1>
    اسم الموقع: 
    <a href="{% url 'workspace:website-details' page.website.workspace.id page.website.id %}">
        {{page.website}}
    </a>
</h1>
<h2>
    اسم الصفحة: {{page.name}}
</h2>


<div class="text-editor">

    <section class="code__section">
        <div class="html-section">
            <p>HTML</p>
            <textarea name="html-input" onkeyup="run()" id="" cols="30" rows="10"></textarea>
        </div>
        <div class="css-section">
            <p>CSS</p>
            <textarea name="css-input" onkeyup="run()" id="" cols="30" rows="10"></textarea>
        </div>
        <div class="js-section">
            <p>JS</p>
            <textarea name="js-input" onkeyup="run()" id="" cols="30" rows="10"></textarea>
        </div> 
    </section>

    <section class="output-section">
        <iframe frameborder="0" class="code-output"></iframe>
    </section>

</div>



<a href="{% url 'workspace:delete_website_page' page.id %}" class="btn-del">حذف الصفحة </a>


<script>

    function run() {

        let html = document.querySelector('[name=html-input]');
        let css = document.querySelector('[name=css-input]');
        let js = document.querySelector('[name=js-input]');
        let output = document.querySelector('.code-output') 
    
        output.contentDocument.body.innerHTML = html.value + "<style>" + css.value + "</style>" 
        output.contentWindow.eval(js.value) 
    }

</script>

{% endblock content %}
    